body{
                 background-color: lightpink;
             }
             .primer{
                text-align: center;
                 }
             h1{
                 color:#FF3333;
                 text-decoration: underline #FF3333;
             }
             button{
                 margin-top: 50px
             }
             .puit{
                color: transparent;
                background-color: transparent;
                border-color: transparent;
                outline: none;
                 }
             h2{
                 margin-top: 100px;
                 text-decoration: underline wavy #FF3333; 
             }